
# Git and GitHub.
.git/
.github/
.gitattributes

# Npm.
.npm-cache/
.npm-global/
node_modules/
npm-shrinkwrap.json

# Editor settings.
.vscode/
.idea/
.editorconfig
.eslintrc.js
.prettierrc
babel.config.js
jest.config.js
vue.config.js

# Docs.
docs/

# Tests.
tests/

#
CHANGELOG.md
CONTRIBUTING.md
